/* target Universe */
* {

  padding: 0;
  margin :0;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #333;
  padding:0px;
}
.logo  {
  width: 200px;
  height: 40px;
  padding-left: 20px;
  align-items: center;
  padding-top:10px;
}
 a {
  text-decoration: green;
  color: white;
  padding: 3px;
  margin-right: 20px;
}
a:hover {
    padding: 5px;
    border-radius: 4px;
    background-color: #fff;
    color: yellow;
    transition: .5s;
    font-size:170%;
}
.content_1{
    background-color:white;
  display:inline;
  margin-left:10px;
  margin-right:20px;
  width:1000px;
  padding-left:70px;
margin-top:0px;
justify-content: justify;


}
.content_1>.headings>h1{
padding:50px auto 100px auto;
margin-left: 70px;
background-color:white;
}
.headings{
text-align: center;
align-items: center;
padding-left: 230px;
width:510px;
height:50px;
padding-top:0px;
background-color: none;

}
.content_1>.para{
    background-color:none;
  display:block;
position: relative;
padding-top: 100px;

}
.content_1>.special{
    background-color:none;
float:left;
margin-right:100px;
margin-left:40px;
height:270px;
width:270px;

}
.content_1>.special>img{
    width:335px;
    height:250px;
    
    
    
}

.BB{
  display:block;
  text-align:center;
  margin-right:100px;
  padding-top: 5px;
  margin-right:830px;
  
  
}
.BB>.click{
  border-radius:200px;
  background-color: red;
  color:white;
  width:100px;
  text-transform: uppercase;

}
.click:hover{
  background-color: coral;
  border:2px solid orange;
  transition: .5s;
  cursor: pointer;
  font-size:100%;

}
.content_1>.special>img:hover{
  font-size:600%;
  cursor: pointer;
border:4px solid red;
}
.content_2{
    background-color: rgb(229,255,204);
  padding-top:90px;
  display:block;
  text-align: center;
  justify-content: justify;
  align-items: center;
}
.content_2>h1{
    padding-top:0;
    margin-right: 00px;
}

.content_2>.para_2{
  padding-top:20px;
margin-right: 00px;
letter-spacing: 1.1px;
}
.content_2>.images{
    margin-top:90px ;
    text-align: center;
    align-items: center;
    padding-right:00px;
    display:inline;
    width:800px;
    

}
.content_2>.images>img{
    margin:100px;

}
.add_txt{
    padding-top:0;
    margin-right:540px;
    display:inline-table;
}
.add_txt_1{
    margin-right: 0px;
    display:inline-table;
}
.add_txt_2{
    margin-right: 550px;
    margin-top: 0;
    margin-left:550px;
    display: inline-table;
}
 .content_2>.images>.img{
    margin-right:70px;
    border:60px solid white;
 }
  img:hover{
    transition: 0.5s;
    margin-right:100px;
      box-shadow: 2px 2px 3px 11px orange;
    cursor: pointer;
    size:11100%;
  }
  .add_txt:hover{
    font-size:200%;
    background-color: coral;
  }
  .add_txt_1:hover{
     font-size:200%;
    background-color: coral;
  }
  .add_txt_2:hover{
     font-size:200%;
    background-color: coral;
  }
  .content_3{
      background-color: rgb(229,255,204);
    text-align:center;
    justify-content: justify;
    align-items: center;
    display: flex;
    padding-top: 30px;
    margin-left:50px;
    padding-bottom:40px;
  }
  .content_3>.vimp>img{
    border-radius:50%;
    width:300px;
    height:300px;
    margin-left:200px
   
  }
  .content_3>.contact{
    margin-right:00px;
    margin-left:100px;
    display:inline;
    width:200px;
    
  }
  .content_3>.contact>h1{
      padding-bottom:0px;
  }
  .content_3>.vimp>.img:hover{
border:12px soild green;
  }
  .content_3>.contact>h4{
    text-transform: uppercase;
    padding-right:30px;

  }
  .content_3>.contact>h5{
      text-transform: uppercase;
      padding-right:30px;
     
  }
  .footer{
  background-color: steelblue;
  display: flex;
  padding-top: 0px;
  margin-top:60px;
}
.credit > .para{
  width: 400px;
  padding: 30px;
  margin: 30px;
  text-align: justify;
}
.footer__links > h5{
  font-size: 25px;
  margin-top: 10px;
  padding: 30px;
}
.footer__links > a{
  display: block;
  margin-left: 30px;
}
.subscribe > h5{
  font-size: 25px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 30px;
}
.subs__input{
  width: 50%;
  padding: 10px 30px;
  margin: 5px 60px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgb(224, 221, 221);
  outline: none;
  border-radius: 4px;
}
.copyright{
  text-align: center;
  color: white;
  background-color: #333;
  padding: 15px 0;
}
.icon{
  margin-left: 50px;
}
.icons > h5{
  font-size: 25px;
  margin-top: 10px;
  margin-left: 30px;
  padding: 30px;
}
.fa{
  font-size: 30px !important;
  color: #fff;
  padding: 7px;
}
.fa:hover{
  background-color: red;
  color: #000;
  font-size: 300% !important;
  transition: .5s;
  border-radius: 4px;
  cursor: pointer;
}